<div class="container-sm container-md container-lg container-xl container-xxl" *ngIf="games.length > 0">
  <div class="row mt-3">
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="form-group form-inline col-4">
          Nombre:
          <input class="form-control ml-2" type="text" (keyup)="onSearch($event)" formControlName="nameFormControl"/>
        </div>
        <div class="form-group form-inline col-4">
          Género:
          <select class="form-select" aria-label="Default select example" formControlName="genreFormControl" (change)="onSearch($event)">
            <option selected>Open this select menu</option>
            <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
          </select>
        </div>
        <div class="form-group form-inline col-4">
          Plataforma:
          <select class="form-select" aria-label="Default select example" formControlName="platformFormControl" (change)="onSearch($event)">
            <option selected>Open this select menu</option>
            <option *ngFor="let platform of platforms" [value]="platform">{{platform}}</option>
          </select>
        </div>
      </div>

    </form>
  </div>

  <div class="row mt-3">
    <div class="col-lg-3 col-xl-4	col-xxl-4 col-md-3 col-1 col-sm-1 mb-3" *ngFor="let game of filteredGames">
      <div class="card">
        <img src='{{game.thumbnail}}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{game.title}}</h5>
          <p class="card-text">{{game.short_description}}</p>
          <button (click)="openDetail(game)" class="btn btn-primary">Ver Detalle</button>

        </div>
      </div>
    </div>
  </div>
  <!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshGames()"
    >
    </ngb-pagination>
  </div> -->

</div>




