<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{game.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img src='{{game.thumbnail}}' alt="">
  <hr/>
  <p><strong>Descripción: </strong>{{game.short_description}}</p>
  <p><strong>Url del Juego: </strong><a href="{{game.game_url}}">Click aquí</a></p>
  <p><strong>Género: </strong>{{game.genre}}</p>
  <p><strong>Plataforma: </strong>{{game.platform}}</p>
  <p><strong>Editorial: </strong>{{game.publisher}}</p>
  <p><strong>Desarrollado por: </strong>{{game.developer}}</p>
  <p><strong>Fecha de liberación: </strong>{{game.release_date | date:'dd/MM/yyyy'}}</p>
  <p><strong>Url de perfil en Free to Game: </strong><a href="{{game.freetogame_profile_url}}">Click aquí</a></p>
  <!-- <button (click)="passBack()" type="submit" class="btn btn-primary w-100">Pass back</button> -->
</div>
